@model List<EventModel>
@{
    ViewData["Title"] = "Events By User";
}
<div class="d-flex flex-wrap m-3">


    @foreach (var eve in Model)
    {
        var path = eve.PosterPicturePath.Substring(68);
        path = $"/Posters/{path}";
        <div class="card m-2" style="width: 18rem;">
            <img src="@path" class="card-img-top p-3 rounded rounded rounded-bottom-pill" alt="@eve.Title">
            <div class="card-body">
                <h5 class="card-title">@eve.Title</h5>
                <p class="card-text">@eve.Description</p>
                <a asp-action="EditEvent" asp-controller="Event" asp-route-eventId="@eve.Id" class="btn btn-primary">Edit</a>
                <a asp-action="DeleteEvent" asp-controller="Event" asp-route-eventId="@eve.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>

    }
</div>